header {
  background-color: gray;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 8px 16px;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

nav li {
  text-decoration: none;
  list-style: none;
  padding: 10px 20px;
}

nav li a {
  text-decoration: none;
}

a:hover {
  color: red;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}
