@import url("/styles/cssreset.css");
@import url("/styles/navi.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");

:root {
  --primary-color: black;
  --secondary-color: white;
  --funky-color: rgb(187, 59, 59);

  --header-hight: 52px;
  --footer-height: 116px;

  --deine-mudda: 42;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
  background-color: var(--primary-color);
  /*color: var(--secondary-color);*/

  /*display: flex; */
}

.bg-image-big-1 {
  background-image: url("/images/4.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

h1,
h2,
h3,
h4 {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

h1 {
  margin-top: 50px;
  font-size: 32px;
}

header {
  margin: 0 auto;
  width: 800px;
  min-height: var(--header-hight);
}

main {
  background-color: var(--funky-color);
  min-height: calc(100vh - var(--header-hight) - var(--footer-height));

  margin: 0 auto;
  width: 800px;

  display: flex;
  flex-direction: column;
}

footer {
  margin: 0 auto;
  width: 800px;

  display: flex;
  flex-direction: row;
  justify-content: center;

  padding: 50px 0px;
  margin-top: 0px;
  background-color: var(--primary-color);
  min-height: var (--footer-height);
  color: var(--secondary-color);
}
