body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
  background-color: rgb(46, 45, 45);
  /*display: flex; */
}

h1,
h2,
h3,
h4 {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

h1 {
  margin-top: 50px;
  font-size: 32px;
}

header {
  margin: 0 auto;
  width: 800px;
}

main {
  background-color: white;
  margin: 0 auto;
  width: 800px;

  display: flex;
  flex-direction: column;
}

footer {
  margin: 0 auto;
  width: 800px;

  display: flex;
  flex-direction: row;
  justify-content: center;

  padding: 50px 0px;
  margin-top: 0px;
  background-color: black;
  min-height: 10vh;
  color: white;
}

/* Card */
.twittercard {
  display: flex;
  flex-direction: column;
  flex-basis: auto;

  padding: 16px;
  gap: 24px;

  max-width: 300px;
  left: 16px;
  top: 16px;

  background: #ffffff;
  /* Boxshadow_01 */

  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.twittercard {
  display: flex;
  flex-direction: column;
  max-width: 343px;
  min-width: 300px;
  height: 100%;
}

.twittercard img {
  width: 136px;
  height: auto;
  aspect-ratio: 1 / 1;
}

.twittercard .textelement h3 {
  font-size: larger;
  padding-bottom: 8px;
}

.twittercard .textelement {
  display: flex;
  flex-direction: column;
}

.twittercard em {
  font-size: small;
  color: grey;
}

.twittercard .myaccount {
  display: flex;
  flex-direction: column;
}

.twittercard .myaccount em {
  margin-top: 8px;
  margin-bottom: 8px;
}

@media (max-width: 500px) {
  .twittercard .myaccount {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .twittercard .myaccount em {
    margin-right: 16px;
  }

  .twittercard {
    display: flex;
    flex-direction: row;
    max-width: 343px;
    height: 100%;
  }

  .twittercard .textelement {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.cardcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 16px;
  flex-wrap: wrap;
  padding: 16px;
}

@media (max-width: 500px) {
  .cardcontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 16px;
  }
}
/* 

.twittercard .textelement h3 {
  font-size: larger;
  padding-bottom: 8px;
}

.twittercard .textelement {
  display: flex;
  flex-direction: column;
}

.twittercard .myaccount {
  display: flex;
  align-items: center;
}

.twittercard .myaccount em {
  margin-right: 16px;
}

.twittercard em {
  font-size: small;
  color: grey;
}

@media (max-width: 376px) {
  .twittercard {
    display: flex;
    flex-direction: row;
    max-width: 343px;
    height: 100%;
  }

  .twittercard .textelement {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

  .twittercard .myaccount {
    align-self: flex-end;
  }
}

*/
